<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmdChartTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmdChartTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <AmdChartTest.Properties.Settings>
            <setting name="Scale" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Limit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ChartForeground" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="ChartBackground" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
            <setting name="ChartBarBrush" serializeAs="String">
                <value>#FFFFA500</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HorizontalScrollEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTrendline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChartStroke" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="ChartOriginalStroke" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="DotSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StrokeThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GridOpacity" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
        </AmdChartTest.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <AmdChartTest.Properties.Settings>
            <setting name="ChartOriginalBarBrush" serializeAs="String">
                <value>#FFADD8E6</value>
            </setting>
            <setting name="ChartOriginalForeground" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="ChartOriginalBackground" serializeAs="String">
                <value>#00FFFFFF</value>
            </setting>
        </AmdChartTest.Properties.Settings>
    </applicationSettings>
</configuration>